<div class="container provincial-records-page">

  <h1>Provincial Records</h1>

  <app-event-selector [eventId]="eventId" (eventChange)="onEventChange($event)"/>

  <div *ngFor="let eventId of getEvents()">
    <div *ngIf="isSelected(eventId)" class="row">
      <div class="col-full">

        <h2><span class="cubing-icon event-{{eventId}}"></span>{{getEventName(eventId)}}</h2>

        <div class="record-table-container">
          <table>
            <thead *ngIf="getRecordsForEvent(eventId)">
              <tr *ngIf="showAvgForEvent(eventId)">
                <th class="table-single" colspan="2"><h3>Single</h3></th>
                <th class="table-middle"></th>
                <th class="table-average" colspan="2"><h3>Average</h3></th>
              </tr>
              <tr *ngIf="!showAvgForEvent(eventId)">
                <th class="table-middle" colspan="3"><h3>Single</h3></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of getRecordsForEvent(eventId)">
                <td class="table-single table-name">
                  <div *ngFor="let wcaId of record.singleId; index as i">
                    <a href="{{link.toPerson(wcaId)}}" target="_blank" rel=noopener>{{record.singleName[i]}}</a>
                  </div>
                </td>
                <td class="table-middle" [ngClass]="{'national-record': record.singleNR}">
                  <a href="{{link.toRankings(record.eventId, 'single')}}" target="_blank" rel=noopener>
                    {{record.singleResult}}
                  </a>
                </td>
                <td [ngClass]="{
                  'table-middle': showAvgForEvent(eventId),
                  'table-average': !showAvgForEvent(eventId)
                }">
                  <a [routerLink]="['/rankings', record.province, eventId, 'single']">
                    {{getProvinceName(record.province)}}
                  </a>
                </td>
                <td class="table-middle" *ngIf="showAvgForEvent(eventId)" [ngClass]="{'national-record': record.averageNR}">
                  <a href="{{link.toRankings(record.eventId, 'average')}}" target="_blank" rel=noopener>
                    {{record.averageResult}}
                  </a>
                </td>
                <td class="table-average table-name" *ngIf="showAvgForEvent(eventId)">
                  <div *ngFor="let wcaId of record.averageId; index as i">
                    <a href="{{link.toPerson(wcaId)}}" target="_blank" rel=noopener>{{record.averageName[i]}}</a>
                  </div>
                </td>
              </tr>
              <tr *ngIf="!getRecordsForEvent(eventId)">
                <td class="table-middle">
                  No records yet
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
