<div class="container">
  <h1>Manage Competitions</h1>

  <br/>
  
  <div class="row">
    <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2">
      <button class="btn btn-block btn-success" ng-click="eventsCtrl.newcomp()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add event
      </button>
    </div>
    <div class="col-xs-7 col-sm-6 pull-right">
      <div class="form-group has-feedback">
        <label class="sr-only control-label" for="eventsearch">Search</label>
        <input type="text" class="form-control" id="eventsearch" placeholder="Search events" ng-model="searchFilter">
        <i class="glyphicon glyphicon-search form-control-feedback"></i>
      </div>
    </div>
  </div>
  
  <br/>
  
  
  <ul class="list-group comp-list">
    <li class="list-group-item" ng-repeat="comp in eventsCtrl.filterEvents(searchFilter)"
        ng-class="{'comp-old': eventsCtrl.isOld(comp.endDate)}">
      
      
      <div class="comp-info">
        <h3>
          <span class="label label-danger label-past" ng-show="eventsCtrl.isOld(comp.endDate)">Past</span>
          {{comp.name}} 
        </h3>
        <div class="comp-info-element">
          <i class="fa fa-map-marker list-group-icon" aria-hidden="true"></i> 
          {{comp.venue}}<br>
          <span class="text-muted small">{{comp.address}}</span>        
        </div>
        <div class="comp-info-element">
          <i class="fa fa-map-o list-group-icon" aria-hidden="true"></i> 
          {{comp.city}}, <strong>{{comp.province}}</strong>
        </div>
        <div class="comp-info-element">
          <i class="fa fa-calendar list-group-icon" aria-hidden="true"></i>
          {{comp.startDate | date : 'EEE, d MMM yyyy'}}
          <span ng-show="comp.endDate > comp.startDate"> - {{comp.endDate | date : 'EEE, d MMM yyyy'}}</span>
        </div>
      </div>

      <a ng-click="eventsCtrl.edit(comp.name, comp)" class="edit-icon list-right-icon" href
         uib-tooltip="Edit event details" tooltip-append-to-body="true" tooltip-placement="top"
         ng-hide="eventsCtrl.isOld(comp.endDate)">
        <span class="fa fa-pencil fa-2x"></span>
      </a>
      
      <a ng-click="eventsCtrl.sendNotifications(comp.name, comp)" class="mail-icon list-right-icon" href
         uib-tooltip="Send competition notification" tooltip-append-to-body="true" tooltip-placement="top"
         ng-hide="eventsCtrl.isOld(comp.endDate) || comp.notificationsSent">
        <span class="fa fa-envelope fa-2x"></span>
      </a>
      
      <a ng-click="eventsCtrl.delete(comp.name, comp)" class="trash-icon list-right-icon" href
         uib-tooltip="Delete competition" tooltip-append-to-body="true" tooltip-placement="top">
        <span class="fa fa-trash fa-2x"></span>
      </a>
      
    </li>
    
  
    
    
    
  </ul>
</div>
