<div class="rotating-cube-wrapper">
  <div class="rotating-cube">

    <!-- Centres -->
      <div class="rotating-cube-U"></div>
      <div class="rotating-cube-F"></div>
      <div class="rotating-cube-R"></div>
      <div class="rotating-cube-B"></div>
      <div class="rotating-cube-L"></div>
      <div class="rotating-cube-D"></div>

    <!-- Corners -->
      <div class="rotating-cube-UBL"></div><div class="rotating-cube-BUL"></div><div class="rotating-cube-LUB"></div>
      <div class="rotating-cube-UBR"></div><div class="rotating-cube-RUB"></div><div class="rotating-cube-BUR"></div>
      <div class="rotating-cube-UFR"></div><div class="rotating-cube-FUR"></div><div class="rotating-cube-RUF"></div>
      <div class="rotating-cube-UFL"></div><div class="rotating-cube-FUL"></div><div class="rotating-cube-LUF"></div>

      <div class="rotating-cube-DBL"></div><div class="rotating-cube-BDL"></div><div class="rotating-cube-LDB"></div>
      <div class="rotating-cube-DBR"></div><div class="rotating-cube-RDB"></div><div class="rotating-cube-BDR"></div>
      <div class="rotating-cube-DFR"></div><div class="rotating-cube-FDR"></div><div class="rotating-cube-RDF"></div>
      <div class="rotating-cube-DFL"></div><div class="rotating-cube-FDL"></div><div class="rotating-cube-LDF"></div>

    <!-- Edges -->
      <div class="rotating-cube-UB"></div><div class="rotating-cube-BU"></div>
      <div class="rotating-cube-UR"></div><div class="rotating-cube-RU"></div>
      <div class="rotating-cube-UF"></div><div class="rotating-cube-FU"></div>
      <div class="rotating-cube-UL"></div><div class="rotating-cube-LU"></div>

      <div class="rotating-cube-BR"></div><div class="rotating-cube-RB"></div>
      <div class="rotating-cube-FR"></div><div class="rotating-cube-RF"></div>
      <div class="rotating-cube-BL"></div><div class="rotating-cube-LB"></div>
      <div class="rotating-cube-FL"></div><div class="rotating-cube-LF"></div>

      <div class="rotating-cube-DB"></div><div class="rotating-cube-BD"></div>
      <div class="rotating-cube-DR"></div><div class="rotating-cube-RD"></div>
      <div class="rotating-cube-DF"></div><div class="rotating-cube-FD"></div>
      <div class="rotating-cube-DL"></div><div class="rotating-cube-LD"></div>

  </div>
</div>