DOMAIN=http://localhost:9000
SESSION_SECRET=project-secret

# Mailgun parameters
MAILGUN_DOMAIN=your-mailgun-domain
MAILGUN_API_KEY=your-mailgun-api

# WCA OAuth Details
WCA_USER_API_URL=https://staging.worldcubeassociation.org/api/v0/me
WCA_OAUTH_URL=https://staging.worldcubeassociation.org/oauth/authorize
WCA_OAUTH_TOKEN_URL=https://staging.worldcubeassociation.org/oauth/token
WCA_OAUTH_CLIENT_ID=example-application-id
WCA_OAUTH_CLIENT_SECRET=example-secret
WCA_OAUTH_CALLBACKURL=http://localhost:9000/auth/wca/callback
