<div class="container">
  <p>&copy; 2023 CubingZA |
    <a routerLink="/privacy">Privacy Policy</a>
  </p>
  <p>
    <a href="https://github.com/AlphaSheep/CubingZA-Website" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a> |
    <a href="https://twitter.com/CubingZA" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a> |
    <a href="https://www.facebook.com/cubingZA/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
  </p>
</div>