<div class="footer-container">
  <div class="footer-box">
    &copy; 2023 CubingZA
    <span class="separator">|</span>
    <a routerLink="/privacy">Privacy Policy</a>
    <span class="separator">|</span>
    <a routerLink="/terms">Terms of Use</a>
  </div>
  <div class="footer-box">
    <a href="https://github.com/CubingZA/CubingZA-Website" target="_blank" rel=noopener><fa-icon [icon]="faGithub" aria-hidden="true" /> Github</a>
    <span class="separator">|</span>
    <a href="https://twitter.com/CubingZA" target="_blank" rel=noopener><fa-icon [icon]="faTwitter" aria-hidden="true" /> Twitter</a>
    <span class="separator">|</span>
    <a href="https://www.facebook.com/cubingZA/" target="_blank" rel=noopener><fa-icon [icon]="faFacebook" aria-hidden="true" /> Facebook</a>
  </div>
</div>
