.navbar-brand {
  padding: 0;
  font-family: monospace;
  align-items: center;
//  min-width: 150px;
}

.navbar-brand>img {
  height: 100%;
  padding: 5px 15px;
  width: auto;
}

.inverse-dropdown {
  background-color: $navbar-inverse-bg;
  border-color: $navbar-inverse-border;
  li a {
    color: $navbar-inverse-link-color;
    &:hover{
      color: $navbar-inverse-link-hover-color;
      background-color: $navbar-inverse-link-hover-bg;      
    }    
  }
  .divider {
    background-color: #000;
  }  
  .active a {
    background-color: $navbar-inverse-link-active-bg;
    &:hover {
      background-color: $navbar-inverse-link-active-bg;  
    }
  }
}