<div class="container notifications-page">

  <h1>Configure Competition Notifications</h1>

  <app-unverified-warning/>

  <div *ngIf="hasVerifiedEmail()">
    <div class="row">
      <div class="col-full">
        <p>
          Select provinces on the map below to recieve notifications by email when a competition in that province is announced.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-two-thirds">
        <app-province-map/>
      </div>
      <div class="col-third">
        <div>
          <app-province-list/>
        </div>
        <div class="alert alert-warning" *ngIf="isUnsaved()">
          Notifications have not been saved
        </div>

        <div class="btn-group">
          <button class="btn btn-warning" id='notifications-clear-button' *ngIf="hasSelection()" (click)="clearSelection()">
            <span class="icon"><fa-icon [icon]="faXmark"/></span>
            Clear selection
          </button>
          <button class="btn btn-primary" id='notifications-disable-button' *ngIf="!hasSelection()" (click)="saveSelection()" [disabled]="!isUnsaved()">
            <span class="icon"><fa-icon [icon]="faBellSlash"/></span>
            Disable Notifications
          </button>
          <button class="btn btn-primary" id='notifications-save-button' *ngIf="hasSelection()" (click)="saveSelection()" [disabled]="!isUnsaved()">
            <span class="icon"><fa-icon [icon]="faCloudArrowUp"/></span>
            Save Notifications
          </button>
          <button class="btn btn-default" id='notifications-reset-button' *ngIf="isUnsaved()" (click)="resetSelection()">
            <span class="icon"><fa-icon [icon]="faArrowsRotate"/></span>
            Reset Changes
          </button>
        </div>

      </div>
    </div>
  </div>


</div>
