.table-single {
  text-align: right;
}

.table-middle {
  text-align: center;
}

.table-average {
  text-align: left;
}

.record-table td {
  width: 20%;
}

.record-table a {
  color: $text-color;
}

.record-table a:hover {
  color: $link-hover-color;
  text-decoration: none;
}

.record-table a:focus {
  color: $link-hover-color;
  text-decoration: none;
}