$facesize: 120px;

$piecesize: $facesize / 3;

$m: $facesize/2;
$n: $piecesize/2;
$p: $piecesize;

$x: $m - $n/2;
$y: $m - $n/2;


.cube-wrapper {

  width: 3/2 * $facesize;
  height: 1.9 * $facesize;
//  border: 1px solid red;
  
  
  perspective: 9*$facesize;
  perspective-origin: (0) (0 - $facesize*2);
  
  transform: translateX(0) translateY($m); 
  
  margin: 0 auto;
}

.cubeimage {
  position: relative;
  width: $facesize;
  transform-style: preserve-3d;

  transform-origin: $x $y; 
}

//.cubie:hover div {
//    border: 1px solid white;
//    box-shadow: inset 0 0 30px rgba(0,0,0,0.8);
//  
//    width: $piecesize;
//	height: $piecesize;
//    backface-visibility: visible;
//}

.cubeimage div {
	position: absolute;
	width: $piecesize + 2px;
	height: $piecesize + 2px;
//    box-shadow: inset 0 0 30px rgba(64,64,64,0.9);
    border: 3px solid black;
    border-radius: 6px;
    margin: 30px;
//    background: white
  
  backface-visibility: hidden;
}

//.cube-FUL, .cube-FU, .cube-FDR, .cube-DL, .cube-U, .cube-DR, .cube-BUR, .cube-LU, .cube-RDB {background-color: yellow;}
//.cube-LDB, .cube-LB, .cube-UFR, .cube-UL, .cube-F, .cube-RF, .cube-RDF, .cube-BD, .cube-DBR {background-color: orange;}
//.cube-UFL, .cube-LD, .cube-LUB, .cube-FD, .cube-B, .cube-RU, .cube-FDL, .cube-RB, .cube-RUB {background-color: red;}
//.cube-UBR, .cube-UB, .cube-LDF, .cube-FR, .cube-R, .cube-RD, .cube-RUF, .cube-BR, .cube-BDR {background-color: blue;}
//.cube-LUF, .cube-UF, .cube-DFR, .cube-FL, .cube-L, .cube-DF, .cube-BUL, .cube-BL, .cube-BDL {background-color: green;}
//.cube-UBL, .cube-UR, .cube-FUR, .cube-LF, .cube-D, .cube-BU, .cube-DFL, .cube-DB, .cube-DBL {background-color: white;}

.cube-UFR, .cube-UF, .cube-UFL, .cube-UL, .cube-U, .cube-UR, .cube-UBR, .cube-UB, .cube-UBL {background-color: #ff2;}
.cube-FDR, .cube-FD, .cube-FDL, .cube-FL, .cube-F, .cube-FR, .cube-FUR, .cube-FU, .cube-FUL {background-color: #24f;}
.cube-RUF, .cube-RU, .cube-RUB, .cube-RF, .cube-R, .cube-RB, .cube-RDF, .cube-RD, .cube-RDB {background-color: #d00;}
.cube-BUR, .cube-BU, .cube-BUL, .cube-BR, .cube-B, .cube-BL, .cube-BDL, .cube-BD, .cube-BDR {background-color: #2f2;}
.cube-LDF, .cube-LD, .cube-LDB, .cube-LF, .cube-L, .cube-LB, .cube-LUF, .cube-LU, .cube-LUB {background-color: #fc7804;}
.cube-DFR, .cube-DF, .cube-DFL, .cube-DR, .cube-D, .cube-DL, .cube-DBR, .cube-DB, .cube-DBL {background-color: #eee;}


.cube-UFL {transform: rotateX(90deg) translateX(-$p) translateY( $p) translateZ($m);}
.cube-UF  {transform: rotateX(90deg) translateX(  0) translateY( $p) translateZ($m);}
.cube-UFR {transform: rotateX(90deg) translateX( $p) translateY( $p) translateZ($m);}
.cube-UL  {transform: rotateX(90deg) translateX(-$p) translateY(  0) translateZ($m);}
.cube-U   {transform: rotateX(90deg) translateX(  0) translateY(  0) translateZ($m);}
.cube-UR  {transform: rotateX(90deg) translateX( $p) translateY(  0) translateZ($m);}
.cube-UBL {transform: rotateX(90deg) translateX(-$p) translateY(-$p) translateZ($m);}
.cube-UB  {transform: rotateX(90deg) translateX(  0) translateY(-$p) translateZ($m);}
.cube-UBR {transform: rotateX(90deg) translateX( $p) translateY(-$p) translateZ($m);}

.cube-FUL {transform: translateX(-$p) translateY(-$p) translateZ($m);}
.cube-FU  {transform: translateX(  0) translateY(-$p) translateZ($m);}
.cube-FUR {transform: translateX( $p) translateY(-$p) translateZ($m);}
.cube-FL  {transform: translateX(-$p) translateY(  0) translateZ($m);}
.cube-F   {transform: translateX(  0) translateY(  0) translateZ($m);}
.cube-FR  {transform: translateX( $p) translateY(  0) translateZ($m);}
.cube-FDL {transform: translateX(-$p) translateY( $p) translateZ($m);}
.cube-FD  {transform: translateX(  0) translateY( $p) translateZ($m);}
.cube-FDR {transform: translateX( $p) translateY( $p) translateZ($m);}

.cube-BUL {transform: translateX(-$p) translateY(-$p) translateZ(-$m) rotateY(180deg);}
.cube-BU  {transform: translateX(  0) translateY(-$p) translateZ(-$m) rotateY(180deg);}
.cube-BUR {transform: translateX( $p) translateY(-$p) translateZ(-$m) rotateY(180deg);}
.cube-BL  {transform: translateX(-$p) translateY(  0) translateZ(-$m) rotateY(180deg);}
.cube-B   {transform: translateX(  0) translateY(  0) translateZ(-$m) rotateY(180deg);}
.cube-BR  {transform: translateX( $p) translateY(  0) translateZ(-$m) rotateY(180deg);}
.cube-BDL {transform: translateX(-$p) translateY( $p) translateZ(-$m) rotateY(180deg);}
.cube-BD  {transform: translateX(  0) translateY( $p) translateZ(-$m) rotateY(180deg);}
.cube-BDR {transform: translateX( $p) translateY( $p) translateZ(-$m) rotateY(180deg);}

.cube-RUF {transform: rotateY(-270deg) translateX(-$p) translateY(-$p) translateZ($m);}
.cube-RU  {transform: rotateY(-270deg) translateX(  0) translateY(-$p) translateZ($m);}
.cube-RUB {transform: rotateY(-270deg) translateX( $p) translateY(-$p) translateZ($m);}
.cube-RF  {transform: rotateY(-270deg) translateX(-$p) translateY(  0) translateZ($m);}
.cube-R   {transform: rotateY(-270deg) translateX(  0) translateY(  0) translateZ($m);}
.cube-RB  {transform: rotateY(-270deg) translateX( $p) translateY(  0) translateZ($m);}
.cube-RDF {transform: rotateY(-270deg) translateX(-$p) translateY( $p) translateZ($m);}
.cube-RD  {transform: rotateY(-270deg) translateX(  0) translateY( $p) translateZ($m);}
.cube-RDB {transform: rotateY(-270deg) translateX( $p) translateY( $p) translateZ($m);}

.cube-LUB {transform: rotateY(270deg) translateX(-$p) translateY(-$p) translateZ($m);}
.cube-LU  {transform: rotateY(270deg) translateX(  0) translateY(-$p) translateZ($m);}
.cube-LUF {transform: rotateY(270deg) translateX( $p) translateY(-$p) translateZ($m);}
.cube-LB  {transform: rotateY(270deg) translateX(-$p) translateY(  0) translateZ($m);}
.cube-L   {transform: rotateY(270deg) translateX(  0) translateY(  0) translateZ($m);}
.cube-LF  {transform: rotateY(270deg) translateX( $p) translateY(  0) translateZ($m);}
.cube-LDB {transform: rotateY(270deg) translateX(-$p) translateY( $p) translateZ($m);}
.cube-LD  {transform: rotateY(270deg) translateX(  0) translateY( $p) translateZ($m);}
.cube-LDF {transform: rotateY(270deg) translateX( $p) translateY( $p) translateZ($m);}

.cube-DBL {transform: rotateX(-90deg) translateX(-$p) translateY( $p) translateZ($m);};
.cube-DB  {transform: rotateX(-90deg) translateX(  0) translateY( $p) translateZ($m);};
.cube-DBR {transform: rotateX(-90deg) translateX( $p) translateY( $p) translateZ($m);};
.cube-DL  {transform: rotateX(-90deg) translateX(-$p) translateY(  0) translateZ($m);};
.cube-D   {transform: rotateX(-90deg) translateX(  0) translateY(  0) translateZ($m);};
.cube-DR  {transform: rotateX(-90deg) translateX( $p) translateY(  0) translateZ($m);};
.cube-DFL {transform: rotateX(-90deg) translateX(-$p) translateY(-$p) translateZ($m);};
.cube-DF  {transform: rotateX(-90deg) translateX(  0) translateY(-$p) translateZ($m);};
.cube-DFR {transform: rotateX(-90deg) translateX( $p) translateY(-$p) translateZ($m);};


@keyframes spin {
	from { transform: rotateX(0deg) rotateY(0deg); }
	to { transform: rotateX(360deg) rotateY(720deg);}
}

.cubeimage {
	animation: spin 20s infinite linear;
}