

<div class="cube-wrapper">
  <div class="cubeimage">

    <!-- Centres -->
      <div class="cube-U"></div>
      <div class="cube-F"></div>
      <div class="cube-R"></div>
      <div class="cube-B"></div>
      <div class="cube-L"></div>
      <div class="cube-D"></div>

    <!-- Corners -->
      <div class="cube-UBL"></div><div class="cube-BUL"></div><div class="cube-LUB"></div>
      <div class="cube-UBR"></div><div class="cube-RUB"></div><div class="cube-BUR"></div>
      <div class="cube-UFR"></div><div class="cube-FUR"></div><div class="cube-RUF"></div>
      <div class="cube-UFL"></div><div class="cube-FUL"></div><div class="cube-LUF"></div>

      <div class="cube-DBL"></div><div class="cube-BDL"></div><div class="cube-LDB"></div>
      <div class="cube-DBR"></div><div class="cube-RDB"></div><div class="cube-BDR"></div>
      <div class="cube-DFR"></div><div class="cube-FDR"></div><div class="cube-RDF"></div>
      <div class="cube-DFL"></div><div class="cube-FDL"></div><div class="cube-LDF"></div>

    <!-- Edges -->
      <div class="cube-UB"></div><div class="cube-BU"></div>
      <div class="cube-UR"></div><div class="cube-RU"></div>
      <div class="cube-UF"></div><div class="cube-FU"></div>
      <div class="cube-UL"></div><div class="cube-LU"></div>

      <div class="cube-BR"></div><div class="cube-RB"></div>
      <div class="cube-FR"></div><div class="cube-RF"></div>
      <div class="cube-BL"></div><div class="cube-LB"></div>
      <div class="cube-FL"></div><div class="cube-LF"></div>

      <div class="cube-DB"></div><div class="cube-BD"></div>
      <div class="cube-DR"></div><div class="cube-RD"></div>
      <div class="cube-DF"></div><div class="cube-FD"></div>
      <div class="cube-DL"></div><div class="cube-LD"></div>


  </div>
</div>