

<div class="cube-wrapper">
  <div class="cubeimage">

    <!-- Centres -->
      <a class="cubie"> <div class="cube-U"></div> </a>
      <a class="cubie"> <div class="cube-F"></div> </a>
      <a class="cubie"> <div class="cube-R"></div> </a>
      <a class="cubie"> <div class="cube-B"></div> </a>
      <a class="cubie"> <div class="cube-L"></div> </a>
      <a class="cubie"> <div class="cube-D"></div> </a>

    <!-- Corners -->
      <a class="cubie"> <div class="cube-UBL"></div><div class="cube-BUL"></div><div class="cube-LUB"></div> </a>
      <a class="cubie"> <div class="cube-UBR"></div><div class="cube-RUB"></div><div class="cube-BUR"></div> </a>    
      <a class="cubie"> <div class="cube-UFR"></div><div class="cube-FUR"></div><div class="cube-RUF"></div> </a>    
      <a class="cubie"> <div class="cube-UFL"></div><div class="cube-FUL"></div><div class="cube-LUF"></div> </a>

      <a class="cubie"> <div class="cube-DBL"></div><div class="cube-BDL"></div><div class="cube-LDB"></div> </a>
      <a class="cubie"> <div class="cube-DBR"></div><div class="cube-RDB"></div><div class="cube-BDR"></div> </a>    
      <a class="cubie"> <div class="cube-DFR"></div><div class="cube-FDR"></div><div class="cube-RDF"></div> </a>    
      <a class="cubie"> <div class="cube-DFL"></div><div class="cube-FDL"></div><div class="cube-LDF"></div> </a>
    
    <!-- Edges -->
      <a class="cubie"> <div class="cube-UB"></div><div class="cube-BU"></div> </a>
      <a class="cubie"> <div class="cube-UR"></div><div class="cube-RU"></div> </a>
      <a class="cubie"> <div class="cube-UF"></div><div class="cube-FU"></div> </a>
      <a class="cubie"> <div class="cube-UL"></div><div class="cube-LU"></div> </a>

      <a class="cubie"> <div class="cube-BR"></div><div class="cube-RB"></div> </a>
      <a class="cubie"> <div class="cube-FR"></div><div class="cube-RF"></div> </a>
      <a class="cubie"> <div class="cube-BL"></div><div class="cube-LB"></div> </a>
      <a class="cubie"> <div class="cube-FL"></div><div class="cube-LF"></div> </a>

      <a class="cubie"> <div class="cube-DB"></div><div class="cube-BD"></div> </a>
      <a class="cubie"> <div class="cube-DR"></div><div class="cube-RD"></div> </a>
      <a class="cubie"> <div class="cube-DF"></div><div class="cube-FD"></div> </a>
      <a class="cubie"> <div class="cube-DL"></div><div class="cube-LD"></div> </a>


  </div>
</div>