<div class="container privacy-policy-page">
  <div class="row">
    <div class="col-full">
      <h1>Privacy Policy</h1>

      <h4>What do we do with your information?</h4>

      <p>
        When registering on or using certain features on our site, as appropriate, you may be
        asked to enter your name, email address, and province. We may also collect some
        information you enter on forms, either online or at events.
        We use the information we collect from you in the following ways:
      </p>
      <ul>
        <li>To send periodic emails notifying you of account information, upcoming events,
          and other information that may interest you. These emails will include a link to unsubscribe.</li>
        <li>To personalize your experience on our website.</li>
      </ul>

      <p>
        We do some basic analytics using a self-hosted instance
        of <a href="https://umami.is/" target="_blank" rel=noopener>Umami</a>, an open source, privacy-focused analytics tool.
        Information gathered does not include any personal identifying information and are not shared with any third parties.
        Information gathered includes referer, browser, screen resolution, operating system, device type, country,
        language settings, and page visits. We use this to better understand how people use and itneract with this website.
      </p>

      <h4>How do we protect your information?</h4>

      <p>
        To protect your personal information, we take reasonable precautions and follow industry
        best practices to make sure it is not inappropriately lost, misused, accessed, disclosed,
        altered or destroyed.
      </p>

      <p>
        Your personal information is contained behind secured networks and is only accessible by
        a limited number of persons who have special access rights to such systems, and are
        required to keep the information confidential.
      </p>

      <h4>Do we use 'cookies'?</h4>

      <p>
        Cookies are small text files that are stored on a user's device by a website. They are used to remember
        user preferences, login information, and other details that help improve the user's browsing experience.
        Cookies can also be used for website analytics and advertising purposes. Users have the option to manage
        cookies through their browser settings, where they can choose to block or delete cookies, or to be notified
        when a website wants to store a cookie on their device. It's important to note that disabling cookies
        may impact some website features and functionalities.
      </p>

      <p>
        We use some necessary cookies to manage your session while you are logged onto our site. The
        cookie contains a unique token which the site uses to identify you as a logged in user.
        You may disable cookies if you wish, but you will be unable to use any features that
        require you to log in.
      </p>

      <p>
        A third-party cookie may be used temporarily when you log in using a WCA account. If you do not wish for this to happen,
        then please register using an email and password.
      </p>

      <p>
        We do not use any tracking or advertising cookies.
      </p>

      <h4>Third-party disclosure</h4>

      <p>
        We do not sell, trade, or otherwise transfer to outside parties your personal information,
        unless required to do so by law.
      </p>

      <h4>Third-party links</h4>

      <p>
        When you click on links on our website, they may direct you away from our site. We are
        not responsible for the privacy practices of other sites and encourage you to read their
        privacy statements.
      </p>

      <h4>Accessing, Correcting, or Deleting Personal Information</h4>

      <p>
        If you would like to access, correct, or delete your personal information, please send a request
        to <a href=mailto:privacy@m.cubingza.org>privacy&#64;m.cubingza.org</a>. We will respond to your request
        within a reasonable time frame and will take all reasonable steps to ensure that the personal information
        we hold about you is accurate, complete, and up-to-date. Please note that we may need to verify your identity
        before processing your request, and we may not be able to delete certain personal information if we are
        required to retain it by law or for legitimate business purposes.
      </p>

      <h4>Contact Us</h4>

      <p>
        If there are any questions or concerns regarding this privacy policy, you may contact us
        using the contact form on our site, or send an email to
        <a href=mailto:privacy@m.cubingza.org>privacy&#64;m.cubingza.org</a>
      </p>
    </div>
  </div>
</div>
