<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      
      <div uib-alert ng-repeat="alert in contactCtrl.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="contactCtrl.closeAlert($index)">
        <span ng-bind-html="alert.msg"></span>
      </div>
      
      <h1> Contact Us</h1>
      
      
      <form class="form" role="form" name="form" ng-submit="contactCtrl.contactSend(form)" novalidate>


        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && (form.name.$dirty || contactCtrl.submitted),
                                              'has-error': form.name.$invalid && (form.name.$dirty || contactCtrl.submitted) }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="contactCtrl.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && (form.name.$dirty || contactCtrl.submitted)">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && (form.email.$dirty || contactCtrl.submitted),
                                              'has-error': form.email.$invalid && (form.email.$dirty || contactCtrl.submitted) }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="contactCtrl.email"
                 required/>
          <p class="help-block" ng-show="(form.email.$error.email || (form.email.$invalid && !form.email.$error.required)) && (form.email.$dirty || contactCtrl.submitted)">
            Enter a valid email address
          </p>
          <p class="help-block" ng-show="form.email.$error.required && (form.email.$dirty || contactCtrl.submitted)">
            An email address is required
          </p>
          <p class="help-block" ng-show="form.email.didYouMean && (form.email.$dirty || contactCtrl.submitted)">
            <b>Did you mean:</b> <a class="contact-did-you-mean" href ng-click="contactCtrl.useDidYouMean(form)">{{form.email.didYouMean}}</a>?
          </p>
        </div>
        
        <div class="form-group" ng-class="{ 'has-success': form.subject.$valid && (form.subject.$dirty || contactCtrl.submitted),
                                              'has-error': form.subject.$invalid && (form.subject.$dirty || contactCtrl.submitted) }">
          <label>Subject</label>

          <input type="text" name="subject" class="form-control" ng-model="contactCtrl.subject"
                 required/>
          <p class="help-block" ng-show="form.subject.$error.required && (form.subject.$dirty || contactCtrl.submitted)">
            Please provide a subject
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.message.$valid && (form.message.$dirty || contactCtrl.submitted),
                                              'has-error': form.message.$invalid && (form.message.$dirty || contactCtrl.submitted) }">
          <label>Message</label>
          
          <textarea class="form-control" rows="10" id="comment"  ng-model="contactCtrl.message"></textarea>
          
        </div>
        
        <div>
          <button class="btn btn-primary btn-lg btn-submit" name="submit" type="submit" ng-disabled="!form.$dirty || contactCtrl.sending">
            Send<span ng-show="contactCtrl.sending">ing</span> Message<span ng-show="contactCtrl.sending">...</span>
          </button>
        </div>

      </form>
      
      
    </div>
  </div>
</div>
