body {
  overflow-y:scroll;
}

.thing-form {
  margin: 20px 0;
}

#banner {
  font-family: monospace;
  border-bottom: none;
  margin-top: -20px;
  background: #333;
//  text-align: left;
}

     
#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.main-block-follower {
  margin-top: 30px;
  padding: 10px;
  border-top: 1px solid lightgray;
}
