<header class="hero-unit" id="banner">
  <div class="container">
    
    <div class="row">
<!--
      <div class="col-xs-6 col-md-5 col-lg-4">
        <cubeimage></cubeimage>
      </div>
-->
<!--      <div class="col-xs-6 col-md-7 col-lg-8">-->
        <h1>CubingZA</h1>
        <p class="lead">The home of competitive speedcubing in South Africa</p>
<!--      </div>-->
    </div>
    
  </div>
</header>

<div class="container">
  <div class="row">
    
    
    <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-4">
      <h2>Upcoming Events</h2>
     
      <competition-list data-list-size-limit=3></competition-list>
      
      
      <div class="main-block-follower">
        <div ng-if="$ctrl.isLoggedIn()">
          <a ui-sref="notifications">Set up</a> your personalised notifications for nearby competitions.
        </div>      
        <div ng-if="!$ctrl.isLoggedIn()">
          <a ui-sref="login">Login</a> or <a ui-sref="signup">Sign Up</a> to set up your personalised notifications for nearby competitions.
        </div>
      </div>
      
    </div>
    
    
    <div class="col-md-6 col-lg-4 col-md-pull-6 col-lg-pull-5">
      <h2>About</h2>
      <b>Speedcubing</b> <i>(n)</i> - The activity of solving a variety of twisty puzzles, the most famous being the Rubik's Cube, as quickly as possible.</b>
      <cubeimage></cubeimage>
      <b>CubingZA</b> exists to promote and encourage speedcubing in South Africa, and to assist organisers with hosting World Cube Association sanctioned competitions.
      
      <div class="main-block-follower">
        <a ui-sref="about">Learn more... </a>
      </div>
      
    
    </div>
    
    
    
    <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3 col-md-pull-6 col-lg-pull-0">
      <h2>Links</h2>
     
      <a href="https://www.worldcubeassociation.org/">
        <img src="https://www.worldcubeassociation.org/files/WCAlogo.svg" width="100%">
      </a>
      
    </div>
  </div>

  
  <div class="row">
    <div class="col-lg-12">

      <h2>South African Records</h2>
      
      <record-list></record-list>
      
    </div>
  </div>
</div>
