<div class="container usage-policy-page">
  <div class="row">
    <div class="col-full">
      <h1>Terms of Use</h1>

      <p>
        Please read these Terms of Use carefully before using our website. By using our website,
        you're acknowledging that you understand and accept these terms.
      </p>

      <ol>

        <li>
          <h4>User Conduct</h4>

          <p>
            We trust you to use our website responsibly and be a good community member. Here are a few simple guidelines:
          </p>

          <ul>
            <li>Keep your information accurate and up to date, especially your name and home province.</li>
            <li>Do not use the website to impersonate or misrepresent yourself or others.</li>
            <li>Do not use the website for any unlawful, harmful, or abusive purposes.</li>
            <li>Respect the privacy and personal information of other users.</li>
          </ul>

        </li>
        <li>
          <h4>Prohibited Use</h4>

          <p>
            We reserve the right to prohibit or terminate your access to the website if you violate
            these Terms of Use, including but not limited to:
          </p>

          <ul>
            <li>Providing false or misleading information.</li>
            <li>Engaging in abusive or harmful behavior towards other users.</li>
            <li>Using the website for any illegal activities.</li>
          </ul>

        </li>
        <li>
          <h4>Disclaimer</h4>

          <p>
            The information on our website is provided for general informational purposes only. While
            we strive to keep everything accurate and up to date, we can't guarantee
            it. So, please use the information responsibly and at your own risk.
          </p>

        </li>
        <li>
          <h4>Limitation of Liability</h4>

          <p>
            We and our affiliates won't be held responsible for any direct, indirect, incidental,
            consequential, or special damages arising out of or in connection with your use of the
            website. This includes things like loss of profits, data, or any other intangible losses.
          </p>
        </li>
        <li>
          <h4>Changes to Terms of Use</h4>

          <p>
            Sometimes we might need to update these Terms of Use at any time without notice.
            By continuing to use our website, you're agreeing to the updated terms.
          </p>

        </li>

      </ol>


      <p>
        If you have any questions regarding these Terms of Use, please
        <a [routerLink]="['/contact']">contact us</a>.
      </p>
    </div>
  </div>
</div>
