<div class="container">
  <div class="row">
    <h1>Log in</h1>
  </div>

  <div class="row" *ngIf="errors.length > 0">
    <div class="col-full">
      <div class="alert alert-danger" role="alert">
        <ul>
          <li *ngFor="let error of errors">{{error}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-full">
      <button class="btn btn-default center-block" (click)="wcaLogin();">
        <img src="assets/images/WCAlogo_notext.svg" class="btn-icon-image">
        Log in using your WCA account
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-full">
      <div class="strike"><span>OR</span></div>
    </div>
  </div>

  <div class="row">
    <div class="col-full">
      <form class="form" name="form" [formGroup]="form" (submit)="login()" novalidate>

        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" id="email" class="form-control" formControlName="email">
          <div class="form-help-block" *ngIf="email.touched && email.invalid">Email is required.</div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" id="password" class="form-control" formControlName="password">
          <div class="form-help-block" *ngIf="password.touched && password.invalid">Password is required.</div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-register" type="submit" [disabled]="!form.valid">
            Log in
          </button>
          <a class="btn btn-default btn-lg" routerLink="/signup" href>
            Sign up
          </a>
        </div>
      </form>
    </div>
  </div>
</div>