<h1>Get Involved with CubingZA!</h1>

<p>
  We're always looking for passionate individuals to help grow the cubing community in South Africa. 
  Whether you have a few hours to spare or want to take on a more involved role, 
  there are many ways to contribute.
</p>

<h1>Volunteer Opportunities</h1>

<h3>Example</h3> <p> example description </p> 

<h3>Volunteering at Events:</h3> <p> We always need help running competitions smoothly. This starts with the running, judging, and scrambling roles you're already familiar with, but where we really appreciate help is with setting up the day before, and taking down and packing up equipment after the competition. If you're interested in doing this, I suggest emailing the competition organisers in the week before the competition to find out when and how you can help. </p>

<h3>Community Outreach:</h3> <p> If you enjoy sharing your passion for cubing with others, perhaps you could help us with demonstrations at schools or community centers.  While we aren’t actively seeking out these opportunities, we would fully support and provide resources for any initiatives you start. </p>

<h3>Website Design:</h3> <p> If you have skills or interest in software development or graphic design, we have several tasks that might interest you. You can find these listed on our GitHub page: CubingZA Website Issues. A specific area where we could use help is improving the design of our competition announcement emails. </p>

<h2>More Information</h2>



<p>
  Interested in volunteering? Contact us at <a href="mailto:example@gmail.com">example&#64;gmail.com</a> 
  to learn more about current opportunities and how to get involved.
</p>
