<div class="container" ng-if="notificationsCtrl.Auth.hasRoleSync('user')">  
  <div class="row">
    <div class="col-lg-12">
      <h1>Configure Competition Notifications</h1>
      <p>
        Select provinces on the map below to recieve notifications by email when a competition in that province is announced.
      </p>
      <br/><br/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">      
      <provinces-map></provinces-map>
    </div>
  </div>
</div>


<div class="container" ng-if="!notificationsCtrl.Auth.hasRoleSync('user')">  
  <div class="row">
    <div class="col-lg-12">
      <h1>Configure Competition Notifications</h1>
      <div uib-alert class="alert-warning">
        You must verify your email address before you can set up notifications.
        <button class="btn btn-warning" ng-click="notificationsCtrl.sendVerification({})">Resend verification email</button>        
      </div>
    </div>
  </div>
</div>