<div class="record-list-container">
  <h2>South African Records</h2>

  <div class="alert alert-danger" role="alert" *ngIf="error">
    <p>
      {{error}}
    </p>
  </div>

  <table class="record-table" *ngIf="!error">
    <thead>
      <tr>
        <th class="table-single" colspan="2"><h3>Single</h3></th>
        <th class="table-middle"></th>
        <th class="table-average" colspan="2"><h3>Average</h3></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records">

        <td class="table-single">
          <a href="https://www.worldcubeassociation.org/persons/{{record.singleId}}" target="_blank">{{record.singleName}}</a>
        </td>
        <td class="table-single">
          <a href="https://www.worldcubeassociation.org/results/rankings/{{record.eventId}}/single?region=South%2BAfrica&show=100%2BPersons" target="_blank">
            <span class="label label-info" *ngIf="isNew(record.singleDate)">New</span>
            {{record.singleResult}}
          </a>

        </td>

        <td class="table-middle">

          <a href="https://www.worldcubeassociation.org/results/records?event_id={{record.eventId}}&region=South%2BAfrica&show=mixed%20history" target="_blank">
            <span class="cubing-icon event-{{record.eventId}}"></span>
            <span class="event-name" >{{record.eventName}}</span>
          </a>

        </td>

        <td class="table-average">
          <a href="https://www.worldcubeassociation.org/results/rankings/{{record.eventId}}/average?region=South%2BAfrica&show=100%2BPersons" target="_blank">
            {{record.averageResult}}
            <span class="label label-info" *ngIf="isNew(record.averageDate)">New</span>
          </a>
        </td>
        <td class="table-average">
          <a href="https://www.worldcubeassociation.org/persons/{{record.averageId}}" target="_blank">{{record.averageName}}</a>
        </td>

      </tr>
    </tbody>
  </table>

</div>
