
.btn-xlg {
  font-size: 150%;
  padding: 30px 60px;
}

.btn-icon-image {
  width: 96px;
  float: left;
  margin-top: -30px;
  margin-bottom: -30px;
  margin-left: -60px;
  margin-right: 30px;
  padding: 20px;
  border-right: 1px solid lightgray;
  
}

