<div class="container about-page">

  <h1>Frequently asked questions</h1>

  <div class="row">
    <div class="col-full">

    <p>
      Questions that we are asked quite often, and some answers.
    </p>

      <h1>FAQS</h1>

        <div>

          <h3><b>1.</b> What can I do to help CubingZA?</h3> <p>If you'd like to help out you can read through <a href="/volunteer">this page</a> to learn more about how you can help.</p> 

        </div>

      <h2>More Information</h2>

        <p>
          More questions? <a href="/contact">Click me!</a> Contact us for any remaining questions you may have!
        </p>
    </div>
  </div>