<div class="container notifications-page">

  <h1>Provincial Rankings</h1>

  <div class="row">
    <form class="form form-inline ranking-controls" [formGroup]="form">
      <div class="form-group">
        <label for="province">Province</label>
        <select class="form-control" name="province" formControlName="province">
          <option *ngFor="let province of getProvinceKeys()" value="{{province}}">
            {{getProvinceName(province)}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="event">Event</label>
        <select class="form-control" name="event" formControlName="event">
          <option *ngFor="let event of getEvents()" value="{{event.id}}">
            {{event.name}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="event">Type</label>
        <select class="form-control" name="type" formControlName="type">
          <option value="single">Single</option>
          <option value="average">Average</option>
        </select>
      </div>
    </form>
  </div>

  <app-ranking-table *ngIf="type" [province]="province" [event]="event" [type]="type"></app-ranking-table>

  <div class="row">
    <div class="col-full">
      <p>
        How do I get my name to appear in the rankings?
      </p>
      <ul>
        <li>You need to have results from an official WCA competition. Please allow up to a week for results to be uploaded.</li>
        <li>Go to the settings page and ensure that your WCA ID is connected and you have selected your province.</li>
        <li>Allow up to 1 hour hour for changes to your province to take effect.</li>
      </ul>

    </div>
  </div>

</div>