<div>
  <div class="list-group">
    <a ng-repeat="comp in compCtrl.comps | limitTo:compCtrl.listSizeLimit" 
       href="https://www.worldcubeassociation.org/competitions/{{comp.registrationName}}/register"
       class="list-group-item" target="_blank">
      <div><h3>{{comp.name}}</h3></div>
      <div class="text-muted">{{comp.venue}}</div>
      <div>{{comp.city}}, <strong>{{comp.province}}</strong></div>
      <div>
        {{comp.startDate | date : 'EEE, d MMM yyyy'}}
        <span ng-show="comp.endDate > comp.startDate"> - {{comp.endDate | date : 'EEE, d MMM yyyy'}}</span>
      </div>
      
    </a>  
    <a ng-show="compCtrl.comps.length > compCtrl.listSizeLimit" 
       href class="list-group-item" target="_blank"
       ng-click="compCtrl.listSizeLimit = compCtrl.comps.length">
      <div class="show-more-button">
        Show {{compCtrl.comps.length - compCtrl.listSizeLimit}} more competitions...
      </div>
    </a>
  </div>
  
  <div ng-show="compCtrl.comps.length===0">
    <i>No upcoming competitions</i>
  </div>

</div>