<div>
  <br/>
  <div ng-repeat="comp in compCtrl.comps | limitTo:compCtrl.listSizeLimit" >
<!--
       href="https://www.worldcubeassociation.org/competitions/{{comp.registrationName}}/register"
       class="list-group-item" target="_blank">
-->
      
    <div class="panel panel-default">
      <div class="panel-heading" ng-click="comp.showDetails = !comp.showDetails">
        <h3 class="panel-title">
          <strong>{{comp.name}}</strong>
          <a class="comp-list-show-details" href>
            <span ng-show="comp.showDetails">Hide details</span>
            <span ng-show="!comp.showDetails">Show details</span>
          </a>
        </h3>
      </div>
      <ul class="list-group" ng-show="comp.showDetails">
        <li class="list-group-item">
          <i class="fa fa-map-marker list-group-icon" aria-hidden="true"></i> 
          {{comp.venue}}<br>
          <span class="text-muted small">{{comp.address}}</span>        
        </li>
        <li class="list-group-item">
          <i class="fa fa-map-o list-group-icon" aria-hidden="true"></i> 
          {{comp.city}}, <strong>{{comp.province}}</strong>
        </li>
        <li class="list-group-item">
          <i class="fa fa-calendar list-group-icon" aria-hidden="true"></i>
          {{comp.startDate | date : 'EEE, d MMM yyyy'}}
          <span ng-show="comp.endDate > comp.startDate"> - {{comp.endDate | date : 'EEE, d MMM yyyy'}}</span>
        </li>
        <li class="list-group-item">
          <span class="list-group-icon">&nbsp;</span>
          <div class="btn-group-vertical" role="group">
            <a ng-href="https://www.worldcubeassociation.org/competitions/{{comp.registrationName}}"
               class="btn btn-default" target="_blank">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              More Details
            </a>
            <a ng-href="https://www.worldcubeassociation.org/competitions/{{comp.registrationName}}/register"
               class="btn btn-success" target="_blank">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
              Register
            </a>
          </div>

        </li>

      </ul>
    </div>
      
  </div>
  
  <a ng-show="compCtrl.comps.length > compCtrl.listSizeLimit" 
       href class="" target="_blank"
       ng-click="compCtrl.listSizeLimit = compCtrl.comps.length">
      
      <button class="btn btn-block btn-default show-more-button">
        Show {{compCtrl.comps.length - compCtrl.listSizeLimit}} more competitions...
      </button>
    </a>
  
  <div class="panel panel-default" ng-show="compCtrl.comps.length===0">
    <div class="panel-body">
      <i>No upcoming competitions</i>
    </div>
  </div>

</div>