.show-more-button {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}


.list-group-icon {
  float:left;
  height: 100%;
  text-align: center;  
  font-size: 150%;
  width: 40px;
  padding: 0 12px 0 0;
}

.complist-name {
  text-align: center;
}

.comp-list-show-details {  
  float: right;
  span {
    font-size: 85%;
    color: $link-color;
    text-decoration: none;
    &:hover, &:active, &:focus  {
      color: $link-hover-color;
      text-decoration: none;
    }
  }
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}