<div class="home-block about-summary-box">
  <h2>About</h2>
  <p>
    <b>Speedcubing</b> <i>(n)</i> - The activity of solving a variety of twisty puzzles, the most famous being the Rubik's Cube, as quickly as possible.
  </p>

  <app-rotating-cube/>

  <p>
    <b>CubingZA</b> exists to promote and encourage speedcubing in South Africa, and to assist organisers with hosting World Cube Association sanctioned competitions.
  </p>
  
  <div class="home-block-follower">
    <a routerLink="/about">Learn more... </a>
  </div>
</div>
